h1{
display: inline-block;
text-decoration: #006750;
font-size: 90px;
text-shadow:0.1em 0.1em 0.2em rgb(108, 106, 106);
text-align:end;
text-decoration-line:underline;
text-decoration-color: hsl(167, 100%, 20%);
margin-block-end: 80px;
margin-block-start: -100px;
}

.evento{
    width: 70%;
}

.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color:darkgreen;
    font-weight: bold;
}

.footer{
    display: inline-block;
    width: 100%;
}