.linavbar {
  margin: 15px;
  display: inline-block;
}

.navbarleft{
  display: inline-block;
  width: 85%;
}  

.title1{
    display: inline-block;
    font-size: 90px;
    text-shadow:0.1em 0.1em 0.2em rgb(108, 106, 106);
    text-align:end;
    text-decoration-color: #006650;
    margin-block-start: -300px;
    margin-block-end: -1.19%;
 }
 .title1 a {
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
    text-align:end;
    margin-block-start: -300px;
    margin-block-end: -1.19%;
    color: black;
    font-family: Georgia, serif;
 }
 .title1 a:hover{
  color:darkgreen;
  font-size: 1.025em;
 }
 
 .logo{
  position: absolute;
  top: 0px;
  right:20px;
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 255, 0);
  padding-right: 30px;
  padding-top: 5px;
}
.logo a:hover{
  
  filter: brightness( 75% );

}

.rodape{
  background-color: #006650;
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 35px;
  padding-left: 35px;
}

.rodapedireito{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.rodapedireito a{
  text-decoration: none;
  color: #fff;
}
.rodapedireito a:hover{
  color: black;
}

.navbarright{
  display: inline-block;
  inline-size: 15%;
 }

 .divTable{
  width: 30%;
  float: left;
  margin: 10px;
 }

 .divTableImg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }
 .divTableImg a:hover{
  text-decoration: none;
  filter: brightness( 75% );
 }
 .divTableImg img:hover{
  border-radius: 20px;
 }

.divTableTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}
.divTableTitle a {
  color: black;
  text-decoration: none;
}
.divTableTitle a:hover {
  color: darkgreen;
  font-size: 1.025em;
}

.divTableLocal{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin: 10px;
  font-size: 14px;
}

.socialmedia{
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.socialmedia:hover {
  cursor: pointer;
  filter: brightness( 50% );
}